<!DOCTYPE html>
<html lang="en">
  <head>
    <script defer data-domain="fleepy.tv" src="https://plausible.liliana.digital/js/script.js"></script>
    <title><%~ it.title %></title>
    <%~ includeFile("../partials/metadata.ejs", { title: it.title || "Fleepy.tv", description:
    it.description || "Music producer, software developer and sysadmin.", }) %>
    <style>
      @font-face {
        font-family: "UniFont";
        src: url("/fonts/unifont.woff2"),
          url("/fonts/unifont.ttf");
      }
    </style>
  </head>
  <body>
    <%~ it.body %>
    <script src="/js/logger.js?<%= E.globalConstants.fakeHash%>"></script>
    <script src="/js/main.js?<%= E.globalConstants.fakeHash%>"></script>
  </body>
</html>
