body {
	background-image: url(../images/background.png);
	background-size: cover;
	margin: 0;
}

#maincontent {
	width: 100vw;
	height: 100vh;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-evenly;
}

.item {
	margin: 0 auto;
}

.nametitle > img {
	width: 100%;
 }

::-webkit-scrollbar { 
    display: none; 
}

.socialbuttons0 > img {
	width: 100px;
	height: 100px;
	filter: brightness(70%) blur(1px);
	transition: 0.2s;
}

.socialbuttons0 > img:hover {
	cursor: pointer;
	filter: brightness(100%)  blur(0);
}