<div id="nameheader">
  <!-- generated with https://www.coolgenerator.com/ascii-text-generator on Normal font -->
  <pre style="color: #ff82ec;">______ _ _
|  ____| | |
| |__  | | | ___  ___ _ __  _ __  _   _ _   _
|  __| | | |/ _ \/ _ \ '_ \| '_ \| | | | | | |
| |    | | |  __/  __/ |_) | |_) | |_| | |_| |
|_|    |_|_|\___|\___| .__/| .__/ \__, |\__, |
                     | |   | |     __/ | __/ |
                     |_|   |_|    |___/ |___/</pre>
  <span style="text-align: center"><%~ E.globalConstants.randomSubtitle() %></span>
  <noscript>
    <span style="text-align: center">no javascript? thats fine cause its not neccessary (unless you're using tools)</span>
  </noscript>
</div>