<div id="navbar" style="text-align: center; margin: 4px;">
  <% let links = [
    {
    title: "Home",
    href: "/"
  }, {
    title: "Fancy (Deprecated)",
    href: "/fancy"
  }, {
    title: "Music",
    href: "https://flleeppyy.bandcamp.com"
  }, {
    title: "Tools",
    href: "/tools"
  }, {
    title: "Bots",
    href: "/bots"
  }
  ]; %>
  <% links.forEach(element => { %>
    <span>
      <a href="<%= element.href %>"><%= element.title %></a>
    </span>
    <% if (element != links[links.length - 1]) { %>
      |
    <% } %>
  <% }) %>
</div>
