<% layout("../../layouts/default.ejs", {
  title: "ChenPics",
}) %>

<div class="body">
  <%~ includeFile("../../partials/nameheader.ejs"); %>
  <%~ includeFile("../../partials/navbar.ejs"); %>
  <%~ 
    includeFile("../../partials/bot.ejs", {
      name: "ChenPics",
      image: "/img/bots/chenpics.jpg",
      profilePictureSource: "https://gelbooru.com/index.php?page=post&s=view&id=3403261",
      profileBannerSource: "https://gelbooru.com/index.php?page=post&s=view&id=5023127",
      links: [
        {
          title: "Twitter",
          href: "https://twitter.com/chenpicsv2",
        },
        {
          title: "Telegram",
          href: "https://t.me/chenpics"
        }
      ]
    })  
  %>
</div>


