<% layout("../../layouts/default.ejs", {
  title: "CirnoPics",
}) %>

<div class="body">
  <%~ includeFile("../../partials/nameheader.ejs"); %>
  <%~ includeFile("../../partials/navbar.ejs"); %>
  <%~ 
    includeFile("../../partials/bot.ejs", {
      name: "CirnoPics",
      image: "/img/bots/cirnopics.jpg",
      profilePictureSource: "https://gelbooru.com/index.php?page=post&s=view&id=7266676",
      profileBannerSource: "https://gelbooru.com/index.php?page=post&s=view&id=4917153",
      links: [
        {
          title: "Telegram",
          href: "https://t.me/cirnopics",
        },
        {
          title: "Twitter",
          href: "https://twitter.com/cirnopicsbot",
          dead: true,
        },
        {
          title: "Mastodon",
          href: "https://coolmathgam.es/@tewipics",
          dead: true,
        }
      ]
    })  
  %>
</div>


