<% layout("../../layouts/default.ejs", {
  title: "ReimuPics",
}) %>

<div class="body">
  <%~ includeFile("../../partials/nameheader.ejs"); %>
  <%~ includeFile("../../partials/navbar.ejs"); %>
  <%~
    includeFile("../../partials/bot.ejs", {
      name: "ReimuPics",
      image: "/img/bots/reimupics.jpg",
      profilePictureSource: "https://gelbooru.com/index.php?page=post&s=view&id=5382365",
      profileBannerSource: "https://gelbooru.com/index.php?page=post&s=view&id=5168837",
      links: [
        {
          title: "Twitter",
          href: "https://twitter.com/reimupics",
        },
        {
          title: "Telegram",
          href: "https://t.me/reimupics"
        }
      ],
      // notes: "Couldn't find source of profile picture. Please DM me with source",
      nsfw: true,
    })
  %>
</div>


