body {
  background-image: url(../assets/images/background.png);
  background-size: cover;
  margin: 0;
}

#maincontent {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.item {
  margin: 0 auto;
  position: relative;
}

.nametitle > img {
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.socialbuttons0 img {
  width: 100px;
  height: 100px;
  filter: brightness(80%) blur(1px);
  transition: 0.2s;
  padding: 10px;
}

.socialbuttons0 img:hover {
  cursor: pointer;
  filter: brightness(100%) blur(0);
}

.avatarnormal {
  transform: scale(1);
  transition: 0.5s;
}

.avatarnormal:hover {
  transform: scale(1.05);
}

.ripple {
  background-color: #00000000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  margin: auto;
  /*border: 100px solid #dddddd11;*/
  border: hidden;
  box-shadow: 0px 0px 50px #dddddddd, inset 0px 0px 50px #dddddddd;
  border-radius: 50%;
  box-sizing: border-box;
  background-clip: border-box;
  transition: 5s;
}

.rippleout {
  width: calc(max(142vw, 142vh) + 250px);
  height: calc(max(142vw, 142vh) + 250px);
  /*
	width: 600px;
	height: 600px;*/
}

.honk {
  position: fixed;
  transform: scale(0.4) rotate(0deg);
  transition: left 1s;
  bottom: -50px;
  right: -30%;
}

.honk.brr-right,
.honk.brr-left {
  transition: right 0.6s, left 0.6s, margin-bottom 0.6s, margin-top 0.6s !important;
}

.honk.brr-left {
  top: 1 !important;
  transform: scale(0.4) rotate(180deg) !important;
}

.honk.brr-right {
  top: unset !important;
  transform: scale(0.4) rotate(0deg) !important;
}
