/* 

div {
    font-family: 'Montserrat', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #444444;
}

*/

.nav-item {
  font-family: "Montserrat", sans-serif;
}

.nav-item:hover {
  color: white;
  background-color: #444444;
}
