.snow,
.snow:before,
.snow:after {
  position: absolute;
  top: -600px;
  left: 0;
  bottom: 0;
  right: 0;
  /* what you see here is the definition of smart cirno */
  background-image: radial-gradient(
      6px 6px at 33px 171px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(3px 3px at 258px 83px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      3px 3px at 105px 293px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 145px 138px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(5px 5px at 133px 113px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(3px 3px at 537px 227px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      5px 5px at 250px 320px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 326px 124px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 392px 424px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 345px 58px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(6px 6px at 200px 348px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(5px 5px at 225px 43px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(4px 4px at 277px 33px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      4px 4px at 60px 71px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 244px 236px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 259px 506px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(6px 6px at 39px 39px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      4px 4px at 286px 385px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 581px 541px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 431px 401px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 579px 550px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 445px 520px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 504px 426px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 224px 553px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 588px 325px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 132px 5px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 4px 521px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 206px 551px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 539px 131px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 235px 257px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(4px 4px at 176px 320px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(6px 6px at 423px 112px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      6px 6px at 546px 342px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(3px 3px at 583px 131px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      3px 3px at 235px 295px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 381px 193px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 161px 418px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 366px 577px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 236px 540px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 197px 437px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 455px 510px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 480px 534px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 569px 20px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 328px 344px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 473px 434px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(5px 5px at 199px 206px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(4px 4px at 383px 113px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(5px 5px at 525px 495px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      6px 6px at 477px 241px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 346px 491px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 365px 225px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 585px 326px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 111px 423px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 261px 483px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 355px 52px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 540px 51px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 207px 102px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 367px 29px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 454px 54px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 151px 409px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 448px 288px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(3px 3px at 108px 178px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      3px 3px at 122px 493px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 339px 206px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 368px 299px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 77px 298px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 341px 331px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(4px 4px at 77px 13px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      5px 5px at 343px 345px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(6px 6px at 423px 478px, white 50%, rgba(0, 0, 0, 0));
  background-size: 600px 600px;
  animation: snow 3s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -200px;
  opacity: 0.4;
  animation-duration: 6s;
  animation-direction: reverse;
  filter: blur(3px);
}

.snow:before {
  animation-duration: 9s;
  animation-direction: reverse;
  margin-left: -300px;
  opacity: 0.65;
  filter: blur(1.5px);
}

@keyframes snow {
  to {
    transform: translateY(600px);
  }
}
