* {
  font-family: 'Unifont', monospace;
  color: whitesmoke
}

body {
  margin: 2em;
  padding: 0;
  background-color: #1e1429
}

.body {
  /* align to center, do not use flex */
  margin: 0 auto;
  width: fit-content;
}

.box {
  border:#4e2f69 solid 2px;
  background: #2a1c3a;
  padding: 1em;
  width: fit-content;
  margin: 0 auto;
  margin-top: 1em;
}

.box > h1,h2,h3,h4,h5,h6 {
  text-align: center;
}

#linksAsBadges {
  padding: 1em;
  text-align: center;
}

#linksAsBadges > a {
  /* font-size: 0; */
  /* margin: 2px; */
  margin: 2px 0;
  display: inline-block;
}

#nameheader {
  display:inline-grid;
  /* margin: 0 auto; */
  width: 100%;
}

#nameheader > pre {
  width: fit-content;
  text-align: unset;
}

#nameheader > * {
  margin: 4px auto;
  width: fit-content;
  text-align: center;
}


#otherBadges {
  text-align: center;
  margin: 8px auto;
  font-size: 0;
}

a {
  color: #FF82EC;
  text-decoration: none;
}

.link {
  text-decoration: underline;
  color: #ffa8f2
}

footer {
  text-align: center;
}

table {
  table-layout: fixed;
  /* width: 100%; */
  border-collapse: collapse;
  /* border: 3px solid purple; */
  padding: 0;
}

tr>td:first-child {
  /* margin: 0 4px 0 0 */
  padding: 0 1em 0 0;
}
/* Set columns to be wider */

.onekoSettings {
  display: block;
  position: fixed;
  top: 2em;
  left: 2em;
  width: 12em;
  /* do not */
}

.onekoSettings > input {
  background-color: #4e2f69;
  border: none;
  width: 4em;
  height: 12px;
}

.onekoSettings > * {
  margin: 2px auto;
}

.onekoSettings > button {
  background-color: #4e2f69;
  border: none;
  width: 6em;
  margin: 2px;
  cursor: pointer;
}

.oneko-treat {
  width: 16px;
  height: 16px;
  position: fixed;
  image-rendering: pixelated;
}

.onekoSettings > label {
  margin-right: 1em;
}

.hidden {
  display: none;
}

.topmargin {
  margin-top: 1em;
}
