<% layout("../layouts/default.ejs", {
  title: "Fleepy.tv | Tools",
}) %>

<div class="body">
  <%~ includeFile("../partials/nameheader.ejs"); %>
  <%~ includeFile("../partials/navbar.ejs"); %>
  <div class="box">
    <h1>Tools</h1>

    <a class="tool" href="/tools/byteshifter">
      <h2>Byte Shifter</h2>
      <p>Shift bytes in a file by a certain amount</p>
    </a>

    <a class="tool" href="/tools/whenyougenerator">
      <h2>When You Generator</h2>
      <p>yep...</p>
    </a>

    <a class="tool" href="/tools/8bitdipswitch">
      <h2>8 Bit Dip Switch calculator</h2>
      <p>because it doesnt exist or i am just really stupid and blind.</p>
    </a>
    <a class="tool" href="/tools/redirectiontool">
      <h2>Redirection Tool</h2>
      <p>Used for crafting links when you can't use the navigation bar. For example: the web browser on Google Hub display devices</p>
    </a>
    <a class="tool" href="/tools/byondkeyconverter">
      <h2>BYOND Key to Ckey Converter</h2>
      <p>Converts BYOND keys to ckeys</p>
    </a>
    <a class="tool" href="/tools/fluffytongue">
      <h2>Fluffy Tongue converter (uwuify)</h2>
      <p>Miau miau miau meow meow mrrp mrrp :3 uwu</p>
    </a>
    <a class="tool" href="/tools/winscppassworddecrypt">
      <h2>WinSCP Password Decryptor</h2>
      <p>Decrypts passwords from WinSCP backups</p>
    </a>
    <a class="tool" href="/tools/doccommentconverter">
      <h2> Doc Comment Converter</h2>
      <p>Parses multiple non-doc comments and converts them to doc comments or doc code blocks</p>
    </a>

  </div>

  <style>
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .tool {
      width: 280px;
      /* height: 100px; */
      border: 1px solid black;
      border-radius: 5px;
      margin: 10px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      background: #2C1744;
    }

    .tool > h2, .tool > p {
      padding:0;
      margin:0;
    }
  </style>

</div>