<% layout("../layouts/default.ejs", {
  title: "Home",
  description: "Music producer, software developer and sysadmin.",
}) %>

<div class="body">
  <%~ includeFile("../partials/nameheader.ejs"); %>
  <%~ includeFile("../partials/navbar.ejs"); %> 
  <div class="box">
    <h1>tba</h1>
    <p>not finished yet</p>
  </div>
</div>