<% layout("../layouts/default.ejs", {
}) %> 

<div class="body" style="text-align: center;">
  <p>
    Error
  </p>
  <div class="box" style="padding: 2em;">
    404 Not Found
  </div>
  <img src="/img/awoofast.gif" style="margin: 1em;" alt="gif of a very fast awoo">
</div>