<% layout("../layouts/default.ejs", {
}) %> 

<%~ includeFile("../partials/navbar.ejs") %>
<br>
<div class="body" style="text-align: center;">
  <p>
    <%~ it.code %>
  </p>
  <div class="box" style="padding: 2em;">
    <%~ it.error %>
  </div>
  <img src="/img/awoofast.gif" style="margin: 1em;" alt="gif of a very fast dancing awoo">
</div>